<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag "application" %>

<%= render "common/header_merchant" %>

<div class = "container-fluid">
  <div class = "row">
    <div class = "pad-action pad-left">
      <h3><b><%= @company.name %></b></h3>
    </div>
  </div>
  <div class = "row">
    <div class = "pad-action pad-left">
      <h3><b>Start Browsing your <%= link_to 'Stories', merchant_stories_path, :class => 'h3' %> and  <%= link_to 'Products', products_by_company_id_path, :class => 'h3' %></b></h3>
    </div>
  </div>
</div>