<h2>Edit Existing Company</h2>
<%= form_tag company_path(@company), :method => :put do %>
    <%= label :company, :name, 'Company Name', :class => 'col-form-label' %>
    <%= text_field :company, :name, :class => 'form-control' %>
    <%= label :company, :description, 'Description', :class => 'col-form-label'  %>
    <%= text_field :company, :description, :class => 'form-control' %>
    <%= label :company, :longitude, 'Longitude Coordinate', :class => 'col-form-label'  %>
    <%= text_field :company, :longitude, :class => 'form-control' %>
    <%= label :company, :latitude, 'Latitude Coordinate', :class => 'col-form-label'  %>
    <%= text_field :company, :latitude, :class => 'form-control' %>
    <br/>
    <%= submit_tag 'Update Company', :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', companies_path, :class => 'btn btn-secondary' %>
<% end %>