<h2>Add a Company!</h2>

<%= form_tag companies_path, :class => 'form' do %>
  <%= label :company, :name, 'Comapny Name', :class => 'col-form-label' %>
  <%= text_field :company, :name, :class => 'form-control' %>
  <%= label :company, :description, 'Description', :class => 'col-form-label'  %>
  <%= text_field :company, :description, :class => 'form-control' %>
  <%= label :company, :longitude, 'Longitude Coordinate', :class => 'col-form-label'  %>
  <%= text_field :company, :longitude, :class => 'form-control' %>
  <%= label :company, :latitude, 'Latitude Coordinate', :class => 'col-form-label'  %>
  <%= text_field :company, :latitude, :class => 'form-control' %>
  <br/>
  <%= submit_tag 'Add Company', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', companies_path, :class => 'btn btn-secondary' %>
<% end %>
