<section id = "Story_section">

  <div class = "container-fluid">
    <div class = "pad-action" style = "margin-top:10px;margin-left:5.1%;">
      <h1><b>Trending</b></h1>
    </div>
    <div class = "pad-action pad-left-more" style = "margin-left:20px;">

      <% @stories.each do |story| %>

        <div style = "display:inline-block; margin-right: 10px;" id = "myBtn<%= story.id %>" data-bs-toggle="modal" data-bs-target="#Modal<%= story.id %>">
          <div class="justify-center" style = "width:113px;">

            <div class = "image" style = "padding: 10px;">
              <img style = "width:60px; background-color:#fff; border-radius: 150px; border: 0.1px solid #F2C94C;" class="img-merchant" src="<%= story.company.image_url %>" alt="Merchant CTown">
            </div>
            <div id ="img-rotate<%= story.id %>" class = "img-rotate">

            </div>

          </div>
        </div>
        <div class="modal fade" id="Modal<%= story.id %>" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              <div class="modal-body">
                <div>
                  <img style = "width:100px; background-color:#fff; border-radius: 150px; border: 1px solid black; display: inline-block;" class="img-merchant" src="<%= story.company.image_url %>" alt="">
                  <h5 class="modal-title" id="ModalLabel" style = "display: inline-block;color:black;"> <%= story.company.name %></h5>
                  <br />
                  <div style = "display:inline-block;padding-left:20px;">
                    <div style = "">
                      <hr class="animated" />
                    </div>
                  </div>
                  <br />

                </div>

                <div style = "padding-left:20px;">
                  <img src = "<%= story.image %>"  width = "415"/>
                </div>

                <div style = "padding-left:20px;">
                  <h5 style = "color:black;"><%= story.title %></h5>
                  <p class ="decs">
                    <%= story.description %>
                  </p>

                  <button class = "btn gold_col btn-lg" style ="background-color: #F2C94C;">See more</button>
                </div>

              </div>

            </div>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</section>
