<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag "application" %>

<%= render "common/header_merchant" %>

<section id = "Login" style = "margin-bottom: 50px;">
  <div class = "container-fluid">
    <div class = "row pad-action pad-left-more">
      <h1>Create a story</h1>
    </div>
  </div>
  </div>
</section>
  <section style = "padding:120px; width: 990px;margin-left: 250px;">
    <div class = "login-div" >
      <div class = "content-login-div">
        <center>
          <h1 class = "action-hyper">sVipd alert</h1>
          <%= form_tag stories_path, :class => 'form' do %>
              <%= text_field :story, :title, :class => 'form-control', :placeholder => 'Please provide title for the story' %>
              <%= text_field :story, :description, :class => 'form-control', :placeholder => 'Please provide description for the story' %>
              <%= text_field :story, :url, :class => 'form-control', :placeholder => 'Please provide image url for the story' %>

            <%= submit_tag 'Create', :class => 'btn yellow_col btn-lg section-download-button col-3' %>
          <% end %>
        </center>
      </div>
    </div>
  </section>

