<h1>Create a new data</h1>
<%= form_with scope: Story, url: stories_path, local: true do |f| %>

<p>
  <%= f.label :Name_of_merchant %>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :Image_url %>
  <%= f.text_field :merchant %>
</p>

<p>
  <%= f.label :Product_title %>
  <%= f.text_field :product_title %>
</p>

<p>
  <%= f.label :Product_Image %>
  <%= f.text_field :image %>
</p>

<p>
  <%= f.label :Description %>
  <%= f.text_field :desc %>
</p>

<p>
  <%= f.submit :Save%>
</p>


<% end %>
