<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag "application" %>

<script>
    $(document).ready(function(){
        $("#myBtn<%= @story.id %>").click(function(){
            $("#img-rotate").removeClass("img-rotate");
            $("#img-rotate").addClass("img-rotate_a");
        });
    });
</script>

<style>

    .justify-center {
        border: 0px dotted black;
        border-radius: 150px;
        position:relative;
    }

    .image {
        position: absolute;
    }

    .img-rotate {
        display: block;
        border-radius: 9999px;
        content: '';
        width: 130px;
        height: 130px;

        border: 4px dotted #000;

        animation: spin 2.5s linear forwards;
    }

    @keyframes spin {
        30%{
            border: 4px dotted #000000;
        }
        70% {
            transform: rotate(360deg);
            border: 4px dotted #F2C94C;

        }
        80% {
            border: 4px dotted #F2C94C;
        }
        100%{
            border: 4px solid #F2C94C;

        }
    }


    .img-rotate_a {
        display: block;
        border-radius: 9999px;
        content: '';
        width: 130px;
        height: 130px;

        border: 4px solid #c4c4c4;

    }






    .gold_col{
        background-color: #F2C94C;
        border-radius: 10px;
        padding: 15px;
    }

    .btn-margin {
        margin-left:35%;
    }

    .animated {
        width: 0px;
        height: 3px;
        animation: expand 4s linear forwards;
        background: #000000;
    }


    @keyframes expand {
        20% {
            width: 102.5px;
            height: 3px;
            background: #000000;
        }
        40%{
            width: 205px;
            height: 3px;
            background: #000000;
        }
        80%{
            width: 307.5px;
            height: 3px;
            background: #000000;
        }
        100%{
            width: 410px;
            height: 3px;
            background: #000000;
        }
    }

    h5 {
        color: black;
    }

</style>

<div>
  <h3>Your Story</h3>
</div>
<div style = "display:inline-block; margin-right: 40px;" id = "myBtn<%= @story.id %>" data-bs-toggle="modal" data-bs-target="#Modal<%= @story.id %>">
  <div class="justify-center" style = "width:110px;">

    <div class = "image" style = "padding: 10px;">
      <img style = "width:110px; background-color:#fff; border-radius: 150px;" class="img-merchant" src="<%= @story.company.image_url %>" alt="Merchant CTown">
    </div>
    <div id ="img-rotate" class = "img-rotate">

    </div>

  </div>
</div>


<div class="modal fade" id="Modal<%= @story.id %>" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

      <div class="modal-body">
        <div>
          <img style = "width:100px; background-color:#fff; border-radius: 150px; border: 1px solid black; display: inline-block;" class="img-merchant" src="<%= @story.company.image_url %>" alt="">
          <h5 class="modal-title" id="ModalLabel" style = "display: inline-block;"> <%= @story.company.name %></h5>
          <%= link_to 'Delete', story_path(@story.id), method: :delete, class: "btn btn-danger btn-margin" %>
          <br />
          <div style = "display:inline-block;padding-left:20px;">
            <div style = "">
              <hr class="animated" />
            </div>
          </div>
          <br />

        </div>

        <div style = "padding-left:20px;">
          <img src = "<%= @story.image %>"  width = "410"/>
        </div>

        <div style = "padding-left:20px;">
          <h5><%= @story.title %></h5>
          <p>
            <%= @story.description %>
          </p>

          <button class = "btn gold_col btn-lg" style ="background-color: #F2C94C;">See more</button>
        </div>

      </div>

    </div>
  </div>
</div>
