<h2>All Products</h2>
<table class="table table-striped col-md-12" id="products">
  <thead>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.pid %></td>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td>$<%= product.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new product', new_product_path, :class => 'btn btn-primary' %>
