<h2>All Products</h2>
<table class="table table-striped col-md-12" id="products">
  <thead>
  <th>
    <td>Product ID</td>
    <td>Name</td>
    <td>Description</td>
    <td>Price</td>
    <td>Stock Units Avail.</td>
    <td>More Info/Edit</td>
  </th>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.pid %></td>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td>$<%= product.price %></td>
        <td>$<%= product.stock_count %></td>
        <td><%= link_to "Click Here", product_path(product) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new product', new_product_path, :class => 'btn btn-primary' %>
