<style>

.product_image {
  height: 120px;
  border-radius: 100px;
  width: 120px;
  object-fit: cover;
  border: 2px solid black;

}

.btn-toggle-colors {
  background-color: #333333;
  color: #fff;
  margin-top:20px;
  width: 100px;
  font-weight: bold;
  filter: drop-shadow(5px 5px 5px #000000);
}


.table-striped > tbody > tr:nth-child(2n+1) > td {
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(240,183,160,1) 0%, rgba(76,225,242,1) 0%, rgba(76,225,242,0.33967090254070376) 100%);
   font-weight: normal;

}

.table-striped > tbody > tr:nth-child(2n) > td {
  background-color: #333333;
  font-weight: normal;
   color: white;

}

.table-striped > tbody > tr:nth-child(2n) > td .product_image {
   border: 2px solid #F2C94C;

}

.table-striped > tbody > tr:nth-child(2n) > td .btn-toggle-colors {
   border: 2px solid #F2C94C;
   background-color: #F2C94C;
   color: #fff;
   font-color: #fff;
}

.sort_optn {
  color: black;
  text-decoration: none;
}
</style>

<%= render "common/header_merchant" %>
<div class="container-fluid">
<div class = "pad-action pad-left">
<h2>Products </h2>

<%= form_tag products_path, method: :get, id: 'search' do %>
  Search:
  <%= text_field "search", :search, :class => 'form-control', style: "width: 350px; display:inline-block;border: 1px solid black;" %>
  <%= submit_tag 'Search!', id: 'search_submit', class: 'btn btn-primary', style: "display:inline-block;" %>
<% end %>

<%= render "common/product_display_to_merchant" %>
<%= link_to 'Add new product', new_product_path, :class => 'btn btn-primary' %>
</div>
</div>
