<h2>Add a Product!</h2>

<%= form_tag products_path, :class => 'form' do %>
  <%= label :product, :name, 'Product Name', :class => 'col-form-label' %>
  <%= text_field :product, :name, :class => 'form-control' %>
  <%= label :product, :description, 'Description', :class => 'col-form-label'  %>
  <%= text_field :product, :description, :class => 'form-control' %>
  <%= label :product, :price, 'Price', :class => 'col-form-label'  %>
  <%= text_field :product, :price, :class => 'form-control' %>
  <%= label :product, :stock_count, 'Number of Units in Inventory', :class => 'col-form-label'  %>
  <%= text_field :product, :stock_count, :class => 'form-control' %>
  <br/>
  <%= submit_tag 'Add Product', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', products_path, :class => 'btn btn-secondary' %>
<% end %>
