<!--  app/views/movies/show.html.erb -->
<p>
<h2>Details about <b><em><%= @product.name %></em></b></h2>

  About <%= @product.name %>:<br>
  <%= @product.description %><br>
  $<%= @product.price %><br>
  <%= @product.stock_count %><br><br>
  Buy this product at <b><%= link_to @company.name, company_path(@company) %>!</b><br>
  <%= @company.description %><br>

</p>


<div class="row">
  <%= link_to 'Edit', edit_product_path(@product), :class => 'btn btn-primary col-2' %>
  <%= link_to 'Delete This Product', product_path(@product), 'data-method' => 'delete', 'data-confirm' => 'Are you sure?', :class => 'btn btn-danger col-2' %>
  <%= link_to 'Back to product list', products_by_company_id_path, :class => 'btn btn-primary col-2' %>
</div>
