<!--  app/views/movies/show.html.erb -->
<h2>Details about <em><%= @product.name %></em></h2>

  About <%= @product.name %>:
  <%= @product.description %>
  $<%= @product.price %>
</p>


<div class="row">
  <%= link_to 'Edit', edit_product_path(@product), :class => 'btn btn-primary col-2' %>
  <%= link_to 'Delete This Product', product_path(@product), 'data-method' => 'delete', 'data-confirm' => 'Are you sure?', :class => 'btn btn-danger col-2' %>
  <%= link_to 'Back to product list', products_path, :class => 'btn btn-primary col-2' %>
</div>
